@import './../../style/default.less';

.header{
    background-color: @colorM;
    .header-top{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        .logo{
            line-height: 60px;
            text-align: left;
            font-size: 18px;
            img{
                height: 40px;
                vertical-align: middle;
            }
            span{
                margin-left: 5px;
            }
        }
        a{
            margin-left: 40px;
        }
    }
    .breadcrumb{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #1890ff;
        .breadcrumb-title{
            text-align: center;
            font-size: @fontC;
            &:after{
                position: absolute;
                content: '';
                left: calc(46%);
                top: 39px;
                border-top: 9px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        .weather{
            text-align: right;
            font-size: 14px;
            .date{
                margin-right: 10px;
                vertical-align: middle;
            }
            .weather-img{
                img{
                    height: 15px;
                }
            }
            .weather-detail{
                margin-left: 5px;
                vertical-align: middle;
            }
        }
    }
}
// common 页面简单头
.simple-page{
    .header-top{
      background:#1890ff;
      color:@colorM;
    }
    .header-top a{
        color:@colorM;
    }
  }